@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(270deg, #0d2d47, #1f5892, #2a86d4, #4eb1ff);
    background-size: 400% 400%;
    color: #fff;
    text-align: center;
    animation: gradientAnimation 10s ease infinite;
    overflow-x: hidden;
    overflow-y: auto;
	position: relative;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#particles {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}


.container {
    max-width: 1000px;
    margin: 50px auto;
	animation: fadeIn 2s ease;
	transform: scale(0.875);
}

.header {
    position: relative;
    padding-top: 50px;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caption {
    font-size: 16px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #4eb1ff;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 36px;
    margin: 10px 0 30px;
    text-shadow: 0 0 10px #bda740;
}

.divider {
    height: 2px;
    background: linear-gradient(90deg, rgba(78, 177, 255, 0.8), rgba(78, 177, 255, 0.6));
    margin-bottom: 30px;
}

.links {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links li {
    margin: 15px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.links a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 3px solid rgba(78, 177, 255, 0.8);
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    width: 1000px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Add transition */
}

.links a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    box-shadow: 0 0 15px #4eb1ff, 0 0 30px #4eb1ff;
}


@media screen and (max-width: 767px) {
  .container {
    max-width: 90%; /* Change max-width to 90% for smaller screens */
    margin: 30px auto; /* Reduce margin for smaller screens */
  }

  h1 {
    font-size: 28px; /* Reduce font size for smaller screens */
  }

  .links li {
    margin: 10px 0; /* Reduce margin for smaller screens */
  }

  .links a {
    font-size: 16px; /* Reduce font size for smaller screens */
    padding: 8px 16px; /* Reduce padding for smaller screens */
    width: 90%; /* Reduce width to 90% for smaller screens */
    margin: 0 auto; /* Add this line to center-align the links */
  }
}

